extends layout

block content
  #browse-page
    #browse-left
      #search-website
        h2 #{title}
        div.search-div  
          form.search-form
            div.search-bar 
              input#search-input(type='text', placeholder='organisation / company name' name='name')
              button(disabled="disabled")
                img(src='../img/search.svg')
      #website-list 
        .single-website
          .single-logo
          .single-name
            p name        
          .single-date
            p new career opportunity
          .single-monitor
        for website in websites
          .single-website
            .single-logo
              p #{website.links[0].extension}
            .single-name
              p #{website.name}        
            .single-date            
              p #{website.storedPage.date}
            div(class="single-monitor " + website._id)
              img(src='../img/plus.svg')
      #no-results
        #results-text
          h2 no results
          p 
        #request-website 
          form(method='POST' action='/requestWebsite')
            div.form-group
              label(for='name') Name:
              input#name.form-control(type='text', placeholder='website name' name='name')
            div.form-group
              label(for='email') Website URL 1:
              input#email.form-control(type='text', placeholder='www.somecompany.com/careers' name='url1')
            div.form-group
              label(for='email') Website URL 2:
              input#email.form-control(type='text', placeholder='www.somecompany.com/careers' name='url2')        
            div.form-group
              label(for='email') Website URL 3:
              input#email.form-control(type='text', placeholder='www.somecompany.com/careers' name='url3')
            div.form-group
              label(for='email') Website URL 4:
              input#email.form-control(type='text', placeholder='www.somecompany.com/careers' name='url4')
            div.form-group
              label(for='email') Website URL 5:
              input#email.form-control(type='text', placeholder='www.somecompany.com/careers' name='url5')
            button.btn.btn-primary(type='submit') Request Website
    .right-sidebar        
      #monitored-websites
        .right-sidebar-title
          h2 subscribed career pages
        for website in monitored  
          .single-website
            .single-logo
              p #{website.links[0].extension}
            .single-name
              p #{website.name}        
            .single-date            
              p #{website.storedPage.date}
            div(class="single-monitor " + website._id)
              img(src='../img/remove.svg')
      .request-website
        .right-sidebar-title
          h2 request a career page
        .single-text
          p Came across a careers page not listed here? Tell us about it, and we'll take it from there!
        .single-text
          button(onclick="location.href='/requestWebsite'") request new website
    script(type='text/javascript', src='./build/browse.bundle.js')
